<div class="container jumbotron">
    <% if (req.session.loggedin) { %>
        <p><%- include('../partials/menu_dashboard') %></p>
    <% } %> 
    
    <p class="text-center text-muted">&copy; Copyright 2023 BitBinHexOct Group</p>
</div>